<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Us </h1>
    <ul>
        <li><a href="/">Landing</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/contactus">Contactus</a></li>
        <li><a href="/aboutus">Aboutus</a></li>
       
    </ul>
    <form action="/register" method="post" >
    <table width="60%" align="center" cellpadding="10" cellspacing="10">
        <tr><td>Enter the Contact Details</td></tr>
        <tr><td><input type="text" name="txtName" placeholder="Name"></td></tr>
        <tr><td><input type="email" name="txtEmail" placeholder="Email"></td></tr>
        <tr><td><input type="text" name="txtMob" placeholder="Mobile"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>