<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}"/>
</head>
<body>
    <h1>Welcome to CyberSquare</h1>
    <ul>
        <li><a href="/">Landing</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/contactus">Contactus</a></li>
        <li><a href="/aboutus">Aboutus</a></li>
       
    </ul>
</body>
</html>